@font-face {
  font-display: auto;
  font-family: 'SmileySans';
  src: url("https://totry.vip/fonts/SmileySans-Oblique.ttf.woff2") format("woff2"), url('https://totry.vip/fonts/SmileySans-Oblique.ttf') format('truetype');
}
